@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f5ff;
  zoom: 90%;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input-wrapper {
    @apply w-full flex flex-col;
  }

  .input {
    @apply h-[55px] lg:w-[372px] w-full bg-transparent border border-slate-300 rounded-full placeholder:text-[#828080] text-lg px-4 font-semibold tracking-wider focus:outline-slate-400 outline-offset-2 outline-4 box-border;
  }

  .form-section {
    @apply flex-1 py-2.5 min-w-[250px] px-0.5;
  }

  .form-label {
    @apply text-text-primary font-roboto font-medium tracking-wide;
  }

  .form-input {
    @apply mt-1.5 rounded-2xl border border-[#D4D4D4] w-full bg-transparent font-roboto h-[52px] focus:outline-blue-300 active:outline-blue-300 outline-offset-2 text-[#928C8C] px-5 font-medium tracking-wide box-border;
  }

  .input-error {
    @apply ml-4 text-red-500 font-medium absolute mt-[54px] text-sm;
  }

  .input-disabled {
    @apply bg-slate-200;
  }

  .filter-input {
    @apply sm:w-max h-[40px] bg-transparent border px-5 rounded-full mt-1 border-[#d4d4d4] box-border text-[#928C8C] focus:outline-blue-300 active:outline-blue-300;
  }
}

@layer utilities {
  .padding-wide {
    @apply sm:px-12 xl:px-24 px-6 sm:py-6 py-6;
  }

  .padding {
    @apply sm:px-12 px-6 sm:py-6 py-6;
  }

  .padding-x {
    @apply sm:px-12 px-6;
  }

  .padding-y {
    @apply sm:py-12 py-6;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
}
.ReactVirtualized__Table {
  width: 100% !important;
  max-width: 100%;
  overflow-x: auto !important;
  font-family: Poppins;
}

.ReactVirtualized__Table__Grid {
  width: 100% !important;
  /* min-width: 100%; */
  /* width: auto !important;
  max-width: auto !important; */
  /* overflow-x: scroll !important; */
}
.ReactVirtualized__Grid__innerScrollContainer {
  width: 100% !important;
  max-width: 100% !important;
}

/* .ReactVirtualized__Table {

} */

.ReactVirtualized__Table__headerRow {
  padding: 2px 8px !important;
  background-color: black;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 68px !important;
  width: 100% !important;
  overflow-x: visible;
  font-size: 13px;
  flex: 1;
}

.ReactVirtualized__Table__headerColumn {
  display: flex;
  flex: 1 !important;
  margin: 0 8px !important;

  text-transform: capitalize;
  color: #f2f5ff;
  cursor: pointer;
  /* display: flex;
  justify-content: flex-start !important;
  flex: 1;
  margin: 0;
  gap: 3;
  background-color: transparent;
  font-size: 14px;
  color: #f2f5ff;
  text-transform: capitalize;
  font-weight: 500; */
}

.ReactVirtualized__Table__row {
  display: flex;
  flex: 1;
  width: calc(100% + 16px) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 11px;
  padding: 2px 8px !important;
  /* width: 100%;
  background-color: #f2f5ff;
  font-family: Poppins;
  font-size: 12px;
  color: #828080;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.ReactVirtualized__Table__row:last-child {
  border-bottom: none;
}

.ReactVirtualized__Table__rowColumn {
  flex: 1 !important;
  margin: 0 8px !important;
  text-overflow: ellipsis !important;
  /* margin: 0; */
  /* min-width: 300px !important;
  display: flex;
  flex-basis: 300px !important;
  flex-wrap: wrap !important;
  flex: 1;
  flex-grow: 1;
  width: 400px;
  justify-content: flex-start !important;
  padding: 2px 8px; */
}

.ReactVirtualized__Table__rowColumn [data-id="order"] {
  flex-grow: 2 !important;
}

.ReactVirtualized__Table__row:nth-child(odd) {
  /* background-color: #828080; */
}

@media screen and (max-width: 445px) {
  .ReactVirtualized__Table {
    width: 800px !important;
    overflow-x: scroll !important;
  }

  .ReactVirtualized__Table__headerColumn,
  .ReactVirtualized__Table__rowColumn {
    width: 200px;
    min-width: 100px;
  }
}
