@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f5ff;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input-wrapper {
    @apply w-full flex flex-col;
  }

  .input {
    @apply h-[55px] lg:w-[372px] w-full bg-transparent border border-slate-300 rounded-full placeholder:text-[#828080] text-lg px-4 font-semibold tracking-wider focus:outline-slate-400 outline-offset-2 outline-4 box-border;
  }

  .input-error {
    @apply ml-4 text-red-500 font-medium absolute mt-[54px] text-sm;
  }

  .filter-input {
    @apply sm:w-max h-[40px] bg-transparent border px-5 rounded-full mt-1 border-[#d4d4d4] box-border text-[#928C8C] focus:outline-blue-300 active:outline-blue-300;
  }
}

@layer utilities {
  .padding-wide {
    @apply sm:px-12 xl:px-24 px-6 sm:py-6 py-6;
  }

  .padding {
    @apply sm:px-12 px-6 sm:py-6 py-6;
  }

  .padding-x {
    @apply sm:px-12 px-6;
  }

  .padding-y {
    @apply sm:py-12 py-6;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
}
